
<!-- Header -->
<!-- Nav -->
<div id="collapse_menu">
    <nav id="nav" ng-controller="navController">
        <ul>
            <li><a href="#/">Home</a></li>
            <li><a href="#/reservation.html">Maak een afspraak</a></li>
            <li><a href="#/portfolio.html">Portfolio</a></li>
            <li><a href="#/about.html">About</a></li>
            <li><a href="#/contact.php">Contact</a></li>
           <!--
           <li ng-show="loggedIn" class="right_float"><a ng-click="toggleLogIn('login_form')" href="#">Login</a></li>
           -->
        </ul>
    </nav>

    <!--
    <form id="login_form" class="login_form" name="loginForm" novalidate ng-controller="navController"  ng-submit="login()" ng-show="wantToLogIn" ng-model="$scope.wantToLogIn">
        <div class="form-group" ng-class="{'has-error': loginForm.username.$invalid}">
            <input class="form-control" name="username" type="text"  placeholder="Username" required ng-model="session.username" />
            <span class="help-block"  ng-show="loginForm.username.$error.required">Required</span>
        </div>
        <div class="form-group" ng-class="{'has-error': loginForm.password.$invalid}">
            <input class="form-control" name="password" type="password"  placeholder="Password" required ng-model="session.password" />
            <span class="help-block" ng-show="loginForm.password.$error.required">Required</span>
        </div>
    </form>
    -->
</div>

<div id="header">
    <div class="container">
        <!-- Banner -->
        <div id="banner">
            <div class="container">
                <section>
                    <header class="major">
                        <h2>Bruneel Robin</h2>
                    </header>
                </section>			
            </div>
        </div>

    </div>
</div>