

<form class="login_form" name="loginForm" novalidate ng-controller="navController" ng-submit="login()" ng-show="wantToLogIn">
    <div class="form-group" ng-class="{'has-error': loginForm.username.$invalid}">
        <input class="form-control" name="username" type="text"  placeholder="Username" required ng-model="session.username" />
        <span class="help-block"  ng-show="loginForm.username.$error.required">Required</span>
    </div>
    <div class="form-group" ng-class="{'has-error': loginForm.password.$invalid}">
        <input class="form-control" name="password" type="password"  placeholder="Password" required ng-model="session.password" />
        <span class="help-block" ng-show="loginForm.password.$error.required">Required</span>
    </div>
</form>