<!-- Main -->
<div id="main" class="wrapper style2">
    <section class="container">
        <header class="major">
            <h2>{{title}}</h2>
            <span class="byline">{{byline}}</span>
        </header>
        <div class="row">
            <!-- Content -->
            <section>
                <img ng-repeat="usage in usages" class="little_thumb" alt="image" src="images/icons_about/{{usage.image}}"/>  
            </section>
        </div>
    </section>
</div>
<div  class="wrapper style1">
    <section class="container">

    </section>
</div>
