
<!-- Featured -->
<div class="wrapper style2">
    <section class="container">
        <header class="major">
            <h2>Interesses</h2>
        </header>
        <div class="row no-collapse-1">
            <section class="4u">
                <a href="#" class="image feature"><img class="me_pic" src="images/me/me_02.jpg" alt=""></a>
                <p>Reizen is een van mijn passies.</p>
            </section>
            <section class="4u">
                <a href="#" class="image feature"><img class="me_pic" src="images/me/me_03.jpg" alt=""></a>
                <p>Ik deed 10 jaar competitie wielrennen, tot eind 2014. Momenteel kies ik geregeld een sportieve uitdaging om naar toe te leven.</p>
            </section>
            <section class="4u">
                <a href="#" class="image feature"><img class="me_pic" src="images/me/me_04.jpg" alt=""></a>
                <p>Ik studeer Toegepaste informatica aan de Hogeschool Gent (HoGent).</p>
            </section>

        </div>
    </section>
</div>





<!---
<div>
   <div class="thumbnail" ng-hide="$flow.files.length">
     <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&text=no+image" />
   </div>
   <div class="thumbnail" ng-show="$flow.files.length">
     <img flow-img="$flow.files[0]" />
   </div>
   <div>
     <a href="#" class="btn" ng-hide="$flow.files.length" flow-btn flow-attrs="{accept:'image/*'}">Select image</a>
     <a href="#" class="btn" ng-show="$flow.files.length" flow-btn flow-attrs="{accept:'image/*'}">Change</a>
     <a href="#" class="btn btn-danger" ng-show="$flow.files.length"
        ng-click="$flow.cancel()">
       Remove
     </a>
   </div>
   <p>
     Only PNG,GIF,JPG files allowed.
   </p>
 </div>

-->